main {
    height: 100%;
}
.container {
    height: 100%;
}
.row {
    height: 100%;
}
.board {
    position: relative;
    background: url('./images/board/board.png');
    background-repeat: no-repeat;
    background-size:contain;
    margin: auto;
    width: 80%;
    height: 80%;
}
